@font-face {
  font-family: "Adieu";
  src: url("../fonts/Adieu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f6f0e6;
  color: black;
  text-align: center;
}

nav {
  display: flex; /* Alignement en ligne */
  align-items: center; /* Centrage vertical des éléments */
  max-width: 1440px;
  padding: 30px;
  font-family: "Adieu", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 0 auto; /* Centrage du nav sur la page */
}

nav ul {
  list-style: none;
  display: flex;
  gap: 35px; /* Espacement entre les liens */
  margin-left: auto; /* Pousse la liste à droite */
}

nav a {
  text-decoration: none;
  color: black;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  font-style: italic;
  transition: 0.05s ease-in-out;
}

.hero {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  padding: 4%; /* Supprime le padding pour un centrage parfait */
}

#carre {
  position: relative; /* Permet de positionner les éléments enfants de manière absolue par rapport à ce carré */
  width: 650px;
  height: 350px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #2e8b57;
}

.presentation {
  display: flex;
  justify-content: flex-start; /* Aligne le texte à gauche */
  align-items: flex-start;
  width: 100%;
}

.text {
  font-family: IBM Plex Mono, sans-serif;
  flex: 1; /* Le texte prend tout l'espace disponible à gauche */
  text-align: left;
  font-size: 1.26em;
  font-weight: 500;
  line-height: 1.3em;
  padding: 7vh 4vw 5vh 2vw;
}

.image-placeholder {
  width: 200px;
  height: 200px;
  margin-top: 35px;
  margin-right: 20px;
  overflow: hidden; /* Empêche l'image de dépasser */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-placeholder img {
  width: 100%; /* Ajuste l'image à la largeur du conteneur */
}

.logo-reseau {
  position: absolute;
  bottom: 20px; /* Positionne les logos à 20px du bas du carré */
  right: 20px; /* Positionne les logos à 20px du côté droit du carré */
}

.logo-reseau ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  margin-right: 20px;
}

.logo-reseau ul li a {
  color: black;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ease;
}

.logo-reseau ul li a:hover {
  color: #2e8b57; /* Changement de couleur au survol */
}

#carre::before {
  content: "";
  position: absolute;
  top: 10px; /* Décalage vers le bas */
  left: 10px; /* Décalage vers la droite */
  width: 100%;
  height: 100%;
  background-color: #2e8b57; /* Ombre avec opacité */

  z-index: -1; /* Place l'ombre derrière */
}

.transition-to-projects {
  text-align: center;
  margin-top: 40px;
  font-family: "Adieu", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 6%;
}

.transition-to-projects a {
  margin-top: 8%;
  text-decoration: none;
  color: black; /* Couleur du texte (vert) */
  display: flex;
  align-items: center;
  justify-content: center;
}

.transition-to-projects a:hover {
  text-decoration: underline;
}

.arrow-down {
  font-size: 10px;
}

.transition-to-projects i {
  font-size: 1.5em;
  margin-left: 10px;
}

/* Section projets */
.projects {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 8vw;
  text-align: center;
}

.projects-title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #808080;
  font-weight: 600;
  margin-bottom: 30px;
}

.project-title a {
  text-decoration: none; /* Supprime le soulignement */
  color: inherit; /* Prend la couleur du parent */
  transition: color 0.3s ease; /* Animation fluide */
}

.project-title a:hover {
  opacity: 0.8; /* Effet léger au survol */
}

.projects-title i {
  margin-left: 8px;
  color: #808080;
}

/* Conteneur des projets */
.div-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Style pour chaque projet */
.project-item {
  width: 35%;
  background-color: #f6f0e6;
  padding: 20px;
  text-align: left;
}

/* Images des projets */
.project-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Catégorie du projet */
.project-category {
  font-family: "Space Mono", sans-serif;
  font-size: 14px;
  color: #9c9892;
  text-transform: uppercase;

  font-weight: 500;
  margin-top: 10px;
}

/* Titre du projet */
.project-title {
  font-size: 18px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  margin-top: -5px;
  color: #161417;
}

.see-all-projects {
  text-align: center;
}

.btn-see-all {
  display: inline-block;
  padding: 12px 30px;
  font-size: 17px;
  color: #fff;
  background: #2e8b57;
  font-family: "IBM Plex Sans", sans-serif;
  margin-bottom: 1%;
  transition: all 0.3s ease-in-out;
  text-decoration: none; /* Désactive le soulignement */
  margin-bottom: 2.5%;
}

.btn-see-all:hover {
  background: #246a46;
}

footer {
  font-family: IBM Plex Mono, sans-serif;
  font-size: 12.5px;
  font-weight: 400;
  position: static; /* Fixe le footer en bas */
  bottom: 0;
  left: 0;
  width: 100%; /* Largeur complète */
  background-color: black; /* Fond noir */
  color: white; /* Texte blanc */
  text-align: center;
  padding: 15px 0;
}

.footer-content {
  max-width: 1440px; /* Largeur maximale */
  margin: 0 auto; /* Centre le contenu */
  display: flex;
  justify-content: space-between; /* Aligne les éléments à gauche et à droite */
  align-items: center; /* Centre verticalement */
  padding: 0 20px; /* Espacement intérieur */
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

.footer-right ul {
  list-style: none;
  display: flex;
  gap: 35px; /* Espacement entre les liens */
  padding: 0;
  margin: 0;
}

.footer-right ul li a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s ease;
}

.footer-right ul li a:hover {
  color: #f6f0e6; /* Changement de couleur au survol */
}
