body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f6f0e6;
  color: black;
  text-align: center;
}

nav {
  display: flex; /* Alignement en ligne */
  align-items: center; /* Centrage vertical des éléments */
  max-width: 1440px;
  padding: 30px;
  font-family: "Courier New", Courier, monospace;
  margin: 0 auto; /* Centrage du nav sur la page */
}

.logo {
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 35px; /* Espacement entre les liens */
  margin-left: auto; /* Pousse la liste à droite */
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  font-style: italic;
  transition: 0.05s ease-in-out;
}

.hero {
  padding: 200px 20px;
}

.hero h1 {
  font-size: 6em;
  font-weight: bold;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  border: 2px solid black;
  border-radius: 25px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.btn:hover {
  background: #ffffff;
  color: black;
}

.section {
  padding: 250px 20px;
  background: rgba(255, 255, 255, 0.1);
}

.project-gallery {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.project {
  width: 300px;
  height: 200px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}
